{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">

    <div class="row d-flex justify-content-around">

        <article class="col mt-3 mb-0 mx-2 p-0 media full-post-content">
            {% if 'pic_placeholder' in post.author.user_profile.profile_image.url %}
            <img class="rounded-circle profile-img-thumb" src="https://res.cloudinary.com/markhewitt76/image/upload/v1663374285/post-it-1238872_klgz4t.jpg" alt="Profile picture">
            {% else %}
            <img class="rounded-circle profile-img-thumb" src="{{ post.author.user_profile.profile_image.url }}" alt="Profile picture">
            {% endif %}
            <div class="media-body">
                <div class="article-metadata">
                    <a class="post-username mr-2 font-weight-bolder" href="{% url 'user_posts' post.author.username %}">{{ post.author }}</a>
                    <p>
                        <small class="text-muted">Posted: {{ post.created_on }}</small><br>
                        {% if post.updated_on|timesince != post.created_on|timesince %}
                        <small class="text-muted">Updated: {{ post.updated_on }}</small>
                        {% endif %}
                    </p>
                    <p class="text-muted">Category:
                        <a href="{% url 'category_posts' post.category %}">{{ post.category }}</a>
                    </p>
                </div>
                {% if "placeholder" in post.post_image.url and "cpic_placeholder" in post.category.category_image.url %}
                <img class="img-fluid" src="https://res.cloudinary.com/markhewitt76/image/upload/v1663776231/Ireland_Malin_Head_Andrea_Ricordi_GettyImages-526688086_RFC_crop_i5l1ls.jpg" alt="Placeholder image">
                {% elif "placeholder" in post.post_image.url %}
                <img class="img-fluid" src=" {{ post.category.category_image.url }}" alt="Category image">
                {% else %}
                <img class="img-fluid" src=" {{ post.post_image.url }}" alt="Article image">
                {% endif %}
                <h2 class="article-title">{{ post.title }}</h2>
                <div class="article-content">
                    {{ post.content | safe }}
                </div>
                <hr />
                <div class="row">
                    <div class="col-1">
                        {% if user.is_authenticated %}
                        <strong>
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button class="btn-like" type="submit" name="post_id" value="{{ post.slug }}">
                                    <i class="fas fa-thumbs-up"></i>
                                </button>
                                <span>{{ post.number_of_likes }}</span>
                                {% else %}
                                <button class="btn-like" type="submit" name="post_id" value="{{ post.slug }}">
                                    <i class="far fa-thumbs-up"></i>
                                </button>
                                <span>{{ post.number_of_likes }}</span>
                                {% endif %}
                            </form>
                        </strong>
                        {% else %}
                        <strong class="text-secondary"><i class="far fa-thumbs-up"></i> <span>{{ post.number_of_likes }}</span></strong>
                        {% endif %}
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comment"></i> {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
                {% if post.author == user %}
                <div>
                    <a class="btn btn-dark btn-sm mt-1 mb-1" href="{% url 'update_post' post.slug %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_post' post.slug %}">Delete</a>
                </div>
                {% endif %}
            </div>
        </article>
        
    </div>

    {% if user.is_authenticated %}
    <div class="row d-flex justify-content-center comment-form">
        <div class="col-sm-8 col-md-6 card border-0 mb-0 mt-0">
            <h4>Add a comment</h4>
            <form method="POST" class="mt1">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-1">
                        As:
                        <span>
                            {% if 'pic_placeholder' in user.user_profile.profile_image.url %}
                            <img class="rounded-circle profile-img-thumb-sm" src="https://res.cloudinary.com/markhewitt76/image/upload/v1663374285/post-it-1238872_klgz4t.jpg" alt="Profile picture">
                            {% else %}
                            <img class="rounded-circle profile-img-thumb-sm" src="{{ user.user_profile.profile_image.url }}" alt="Profile picture">
                            {% endif %}
                        </span> 
                        <span class="post-username">
                            <strong>{{ user.username }}</strong>
                        </span>
                    </legend>
                    {{ comment_form | crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-dark" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    <div class="row d-flex justify-content-center comment-container">
        <div class="col-sm-8 col-md-6 card border-0 mb-4 mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments p-1";>
                    <span>
                        {% if 'pic_placeholder' in comment.name.user_profile.profile_image.url %}
                        <img class="rounded-circle profile-img-thumb-sm" src="https://res.cloudinary.com/markhewitt76/image/upload/v1663374285/post-it-1238872_klgz4t.jpg" alt="Profile picture">
                        {% else %}
                        <img class="rounded-circle profile-img-thumb-sm" src="{{ comment.name.user_profile.profile_image.url }}" alt="Profile picture">
                        {% endif %}
                    </span> 
                    <span class="post-username">
                        <strong>
                            <a href="{% url 'user_posts' comment.name.username %}">{{ comment.name }}</a>
                        </strong>
                    </span>
                    <p class=" text-muted font-weight-normal">{{ comment.created_on }}</p>
                    {{ comment.body | linebreaks }}
                </div>
                {% if comment.name == user %}
                <div>
                    <a class="btn btn-dark btn-sm mt-1 mb-1" href="{% url 'update_comment' comment.id %}">Edit</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete_comment' comment.id %}">Delete</a>
                </div>
                {% endif %}
                <hr/>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}