{% extends "base.html" %}

{% block content %}

<div class="hero-banner">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex justify-content-end mb-5 hero-banner-head">
                <div class="col-sm-10 col-md-8 mt-3 text-center">
                    <h1>Malin Head Messages</h1>
                    <p><small>An online message board for the Community</small></p>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col-md-10 col-lg-8 hero-banner-content">
                    <p>Terms of use:</p>
                </div>
            </div>
        </div>
    </div>
  </div>

<div class="container-fluid msg-posts">

    <div class="row">
        <div class="col mt-3 text-center">
            <h2>Latest Posts</h2>
        </div>
    </div>
    
    {% include 'pagination_buttons.html' %}

    {% include 'post_list.html' %}
    
    {% include 'pagination_buttons.html' %}

</div>

{% endblock %}