{% extends "base.html" %}

{% block content %}

<div class="hero-banner">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex justify-content-end mb-0 hero-banner-head">
                <div class="col-sm-10 col-md-8 mt-sm-1 mt-md-2 mt-lg-5 text-center">
                    <h1>Malin Head Messages</h1>
                    <p class="mb-sm-2 mb-md-3 mb-lg-5"><small>An online message board for the Community</small></p>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <div class="col-md-10 col-lg-8 hero-banner-content">
                    {% if user.is_authenticated %}
                    <p class="terms-p">- As you're logged in, you can <a href="{% url 'create_post' %}">post a message</a>, like a post or leave a comment.</p>
                    {% else %}
                    <p class="terms-p">- You must <a href="{% url 'login' %}">log in</a> to contribute. If you don't have an account: <a href="{% url 'register' %}">Register Now!</a></p>
                    {% endif %}
                    <p class="terms-p">- First, please read our 
                        <a data-toggle="collapse" href="#termslist" role="button" aria-expanded="false" aria-controls="termslist">Terms of Use</a>. And above all, <strong>be respectful!</strong>
                    </p>
                    <div class="collapse" id="termslist">
                        {% include 'terms_conditions.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>

<div class="container-fluid msg-posts">

    <div class="row">
        <div class="col mt-3 text-center">
            <h2>Latest Posts</h2>
        </div>
    </div>
    
    {% include 'pagination_buttons.html' %}

    {% include 'post_list.html' %}
    
    {% include 'pagination_buttons.html' %}

</div>

{% endblock %}