{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Request password reset form template -->

{% block content %}

<div class="container-fluid my-5 col-sm-8 col-lg-6">
    <div class="form-content">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Password Reset</legend>
                <p class="contact-form-p mb-1">Email address <strong>MUST</strong> match the one you registered your account with.</p>
                <p class="contact-form-p mb-1">If you've forgotten this email address or would like to change it:</p>
                <p class="contact-form-p border-bottom pb-2 mb-4"><a href="{% url 'contact_form' %}">Contact the site Admin</a>.</p>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Request Password Reset</button>
                <!-- Redirects page to login page -->
                <a class="btn btn-outline-dark" href="{% url 'login' %}">CANCEL</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}