{% extends 'base.html' %}

{% block content %}

<div class="container-fluid my-5 text-center">
    <h4 class="mb-4">An email will be sent with instructions on how to reset your password.</h4>
    <p class="contact-form-p mb-1">If you don't recieve an email soon, first check your spam folder and then:</p>
    <p class="contact-form-p mb-1"><a href="{% url 'contact_form' %}">Contact the site Admin</a>.</p>
    <p class="contact-form-p border-bottom pb-2 mb-4">If you did not enter a valid email address, <strong">no email will be sent</strong>.</p>
    <div class="border-top pt-3 d-block">
        <small class="text-muted">
            <a class="ml-2" href="{% url 'boards_home' %}">Back to Homepage</a>
        </small>
    </div>
</div>

{% endblock %}