{% extends 'base.html' %}
{% load crispy_forms_tags %}

<!-- Password reset form template -->

{% block content %}

<div class="container-fluid my-5 col-sm-8 col-lg-6">
    <div class="form-content">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Reset</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}