{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid my5 col-sm-8 col-md-6 col-xl-4">
    <div class="form-content">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register Today!</legend>
                <p class="contact-form-p border-bottom pb-2 mb-4">
                    You <strong>MUST</strong> provide a valid email address. Failure to do so will result in an inability to reset your password, should you need to and may result in your account being suspended or removed, as per our Terms of Use, listed on the <a href="{% url 'boards_home' %}">Homepage</a>.
                </p>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>

{% endblock %}